section {
	display: flex;
	position: absolute;
	left: 25%;
	top: 25%;
	width: 80%;
	height: 60%;
}
section > div {
	display: flex;
	width: 80%;
}
.mymenubox1 {
	border-right: 1px solid;
	width: 15%;
}
.mymenubox {
	display: flex;
	flex-direction: column;
	padding-right: 20px;	    
}
.mymenu {
	flex-direction: column;
	font-size: 15px;
}
.mymenu li > a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}
#now {
	font-weight: bold;
}
.mymenu > li > a {
	float: left;
	text-decoration: none;
	color: black;
	margin-bottom:15px;
}
.mymenubox > span {
	font-size: 30px;
	padding-bottom: 30px;
}
.division {
	border-bottom: 1px solid;
	margin-bottom:15px;
}
.title {
	font-size: 20px;
	margin-bottom: 10px;
}
.title2 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 30px;
}
.coursebox {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 85%;
}
.cart {
	border-top: 2px solid;
	border-bottom: 1px solid;
	border-collapse: collapse;
}
.cart > thead > tr > th {
	border-bottom: 2px solid;
	padding: 10px;
}
.cart > tbody > tr > td {
	padding: 10px;
	border-top: 1px solid gray;
	text-align: center;
}
.cart > tfoot > tr > th {
	padding: 10px;
	text-align: center;
	border-top: 1px solid;
}
.payment {
	border-top: 1px solid;
	border-bottom: 1px solid;
	text-align: center;
	padding: 10px;
	width: 100%;
}
.payment > tfoot > tr > td {
	padding-top : 10px;
}
.pay {
	width: 120px;
	height: 40px;
	background: Brown;
	font-size: 20px;
	color: white;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
}
.del {
	background: Brown;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}