html,
body {
    height: -webkit-fill-available;
    font-family: NEXON Lv1 Gothic OTF;
    color: #000000;
}
header {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    border-bottom: 1px solid;
}
header .menu > li {
    float: left;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    height: 50px;
}
nav .menu > li {
    float: left;
    font-size: 15px;
    padding: 10px 30px 0px 30px;
    justify-content: space-around;
}
ul {
    display: flex;
    list-style: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.menu {
    font-weight: bold;
}
.headerbox {
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}
.menubox {
    display: flex;
}
.submenu {
    width: 56px;
    display: flex;
}
.menu > li > a {
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    color: black;
}
.menu li:hover > ul {
    display: block;
    position: relative;
    top: 10px;
}
.menu li:hover > a {
    text-decoration: underline;
    text-underline-position: under;
}
.menu ul {
    display: none;
    text-align: left;
}
.submenu a {
    text-decoration: none;
    white-space: nowrap;
    color: black;
}
.parent {
    padding-top: 5px;
    padding-bottom: 10px;
}
footer {
    border-top: solid 1px black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90%;
    right: 0px;
    background-color: #eceff1;
    display: flex;
    justify-content: center;
}
footer ul {
    display: block;
    list-style: none;
    text-align: left;
    margin: 30px;
}
footer li{
    padding: 2px;
}
footer a {
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-weight: bold;
}
.foot1, .foot2{
    display: flex;
    flex-direction: column;
    margin: 31px;
}
span {
    display: flex;
    padding: 2px;
}
