.left {
	width: 40%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	text-align: right;
	background-color: white;
}

.right {
	width: 60%;
	height: 100%;
	float: right;
	box-sizing: border-box;
	text-align: left;
	background-color: white;
}

.course_font_size {
	font-size: 30pt;
}

.information_font_size {
	font-size: 15pt;
}

.button {
	border: 1px solid skyblue;
	background-color: skyblue;
	color: white;
	padding: 5px;
}

.left_font_size {
	font-size: 2pt;
	padding: 0px 100px 0px 0px;
}

.table {
	border: 1px;
	align: "";
	margin: 30px 30px 30px 30px;
	width: 800;
}

.line {
	border: 5px solid black;
	width: 100%;
	height: 100%;
}

#line {
	border: 2px solid black;
}