@charset "UTF-8";

.writeTable {
	margin-top: 30px;
	border-collapse: collapse
}
.writeTable th {
	text-align: center;
	padding: 8px 0 8px 0;
	border-bottom: 1px solid #000000;
}
.writeTable td {
	font-size: 13px;
	
}
.bTitle {
	width: 300px;
	margin:3px 0 3px 10px;
}
.bContent {
	margin-top:5px;
	width: 100%; 
	height: 350px;
}

/*view */